{% extends "layout.html" %}

{% block title %}
    Chatting with {{ name.split()[0] }}
{% endblock %}

{% block main %}
    <div class="container-fluid vw-100 vh-100 p-3">
        <div class="w-100 h-100 border border-secondary p-3 d-flex flex-row align-items-end overflow-y-auto" id="chatContainer">
            <form data-target="{{ url_for('chats') }}" id="goBack">
                <button class="btn btn-dark fixed-top mt-5 rounded-0 text-start">
                    <div class="container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        Back
                    </div>
                </button>
            </form>
            <div class="mb-5 w-100 h-100">
                <div class="my-5 p-3"></div>
                <div id="chatMessages">
                    {% for m in chat %}
                        {% if m[0] == session['user_id'] %}
                            <div class="w-100 d-flex justify-content-end">
                                <span class="bg-primary text-white p-2 rounded-3 my-2" style="max-width:75vw;">
                                    {{ m[1] }}
                                </span>
                            </div>
                        {% else %}
                            <div class="w-100 d-flex justify-content-start">
                                <span class="bg-body-secondary text-black p-2 rounded-3 my-2" style="max-width:75vw;">
                                    {{ m[1] }}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="my-5 p-3"></div>
            </div>
        </div>
    </div>
    <div class="fixed-bottom vw-100 bg-dark p-2">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write your message...">
                <span class="input-group-text p-0"><button type="button" class="btn btn-primary w-100 h-100 m-0 rounded-start-0" id="sendBtn">Send</button></span>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}