<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AnonMSGs - {% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='/bootstrap@5.3.0/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark position-fixed w-100 z-3">
            <div class="container">
                <a class="navbar-brand user-select-none" href="/">AnonMSGs</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarM" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarM" style="">

                    <ul class="navbar-nav me-auto mb-2">
                        {% if not session["user_id"] %}
                            <li class="nav-item">
                                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('friends') }}" class="nav-link">Friends</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('chats') }}" class="nav-link">Chats</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <script src="{{ url_for('static', filename='/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>